{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block page_title %}{% page_attribute "page_title" %}{% endblock %}
{% block meta_description %}{% page_attribute "meta_description" %}{% endblock %}

{% block base_content %}

<!-- Slide Container begin -->
<div id="slide-container"  class="clearfix">

    <!-- Slider Wrapper begin -->
    <div id="slider-wrapper" class="left">
        {% block slider %}{% placeholder "slider" %}{% endblock %}
    </div>
    <!-- Slider Wrapper end -->

    <!-- Quickmenu begin -->
    <div id="quickmenu" class="left">
        <h2 class="replace">Nabízíme</h2>
        <div class="viewport">
            <ul id="menu-nabidka" class="overview">
                <li id="menu-item-1" class="menu-item">
                    <a class="menu-box round_4" title="Přehled kroužků" href="/krouzky/">
                        <span class="title">Kroužky</span><br/>
                        Přehled kroužků<span class="arrow">&nbsp;</span>
                    </a>
                </li>
                <li id="menu-item-2" class="menu-item">
                    <a class="menu-box round_4" title="Naše akce" href="/akce/">
                        <span class="title">Akce</span><br/>
                        Naše akce<span class="arrow">&nbsp;</span>
                    </a>
                </li>
                <li id="menu-item-3" class="menu-item">
                    <a class="menu-box round_4" title="Tábory a pobyty nejen pro děti" href="/tabory/">
                        <span class="title">Tábory a pobyty</span><br/>
                        Tábory a pobyty nejen pro děti<span class="arrow">&nbsp;</span>
                    </a>
                </li>
                <li id="menu-item-4" class="menu-item">
                    <a class="menu-box round_4" title="Videogalerie" href="/videogalerie/">
                        <span class="title">Videogalerie</span><br/>
                        Videa z našich aktivit<span class="arrow">&nbsp;</span>
                    </a>
                </li>
            </ul>
        </div>
        <a class="buttons prev" href="#">Prev</a> <a class="buttons next" href="#">Next</a>
    </div>
    <!-- Quickmenu end -->
    
</div>
<!-- Slide Container end -->

<!--Main begin-->
<div id="main" class="round_8 clearfix">

    {% if messages %}
    <div class='messages'>
        {% for message in messages %}
            <div class='alert alert-info'>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Home Content begin-->
    <div id="home-content" class="left">
        {% block content %}{% placeholder "content" %}{% endblock %}
    </div>
    <!--Home Content end-->

    <!-- Sidebar begin-->    
    <div  id="sidebar" class="left">
        {% block sidebar %}{% placeholder "sidebar" %}{% endblock %}
    </div>
    <!-- Sidebar end--> 
       
</div>
<!--Main end-->

{% endblock %}
