Whoosh
cmsplugin-iframe2
cmsplugin-survey
django-cms-articles
django-mailbox
djangocms-video
leprikon
git+https://github.com/ChameleonCloud/aldryn-bootstrap3
git+https://github.com/filipweidemann/aldryn-search
git+https://github.com/Kinsa/djangocms-column
