{% extends "admin/base.html" %}
{% load staticfiles %}

{% block title %}{{ title }} | Administrace SVČ Letokruh{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="/" style="display: inline-block; position: relative; top: -5px; border-radius: 5px; background-color: #73d1ff; padding: 3px 10px 5px">
        <img src="{% static 'layout/logo.png' %}" alt="SVČ Letokruh" height="40" />
    </a>
    <a href="{% url 'admin:index' %}">Administrace</a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
