
.box {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 35px;
    border-radius: 10px;
    background-color: #eeffbf;
}

.box-header {
    clear: both;
    padding: 3px 10px;
    font-size: 18px;
}

.box-header .tag {
    display: inline-block;
    border: none;
    padding: 1px 5px;
}

.box-header:after {
    content: '';
    display: block;
    clear: both;
}

.box-header small {
    margin-left: 15px;
}

.box-header a.btn {
    float: right;
    margin-left: 5px;
}

.box-content {
    padding: 10px;
}

.box-content:after {
    content: '';
    display: block;
    clear: both;
}

.box-content label {
    text-align: right;
}

.box-content .row {
    margin-bottom: 5px;
}

.btn.right {
    text-align: left;
    float: right;
    margin-bottom: 5px;
}

img.right {
    text-align: left;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.page_title {
    background-color: #eeffbf;
}
