{% extends 'leprikon/form.html' %}
{% load i18n sekizai_tags staticfiles %}

{% block content %}
{{ block.super }}

<div style="clear: both">
{% if 'google-plus' in backends.not_associated %}
    <a class="btn btn-social btn-google-plus" href="{% url 'social:begin' 'google-plus' %}?next={{ next }}">
        <i class="fa fa-google-plus pull-left"></i>
        {% if request.user.is_authenticated %}
            propojit s&nbsp;Google+
        {% else %}
            přihlásit přes Google+
        {% endif %}
    </a>
{% endif %}
{% if 'facebook' in backends.not_associated %}
    <a class="btn btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}?next={{ next }}">
        <i class="fa fa-facebook pull-left"></i>
        {% if request.user.is_authenticated %}
            propojit s&nbsp;Facebookem
        {% else %}
            přihlásit přes Facebook
        {% endif %}
    </a>
{% endif %}
</div>

{% addtoblock 'css'%}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'font-awesome/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'bootstrap-social/bootstrap-social.css' %}"/>
{% endaddtoblock %}
{% endblock %}
