{% extends "default.html" %}
{% load staticfiles sekizai_tags %}

{% block page_title %}Přihláška na akci {{ form.club.name }}{% endblock %}

{% block base_content %}

<h1>Přihláška na akci SVČ Letovice</h2>

{% for error in form.non_field_errors %}
    <div class="alert alert-danger">{{ error }}</div>
{% endfor %}

<form method="POST">{% csrf_token %}

    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-label col-md-3">Akce:</label>
            <div class="col-sm-9">{{ form.event.name }} ({{ form.event.event_type.name }})</div>
            <label class="control-label col-md-3">Termín:</label>
            <div class="col-sm-9">{{ form.event.start }} &dash; {{ form.event.end }}</div>
        </div>
        {% for item in form %}
        <div class="form-group col-md-6">
            <label for="{{ item.id_for_label }}" class="control-label col-md-3">{{ item.label }}</label>
            <div class="col-md-9{% if item.errors %} alert alert-danger{% endif %}">
                {{ item }}

                {% for error in item.errors %}
                    <div>{{ error }}</div>
                {% endfor %}

                {% if item.help_text %}
                    <div class="help-block">{{ item.help_text }}</div>
                {% endif %}
            </div>
        </div>
    {% cycle '</div><div class="row">' '' %}
        {% endfor %}
    </div>

    <p><i>Souhlasím s uvedením osobních údajů účastníka(ce) pro potřeby pořádající organizace ve smyslu zákona č.101/2000 Sb. o ochraně osobních údajů.</i></p>
    <input type="submit" value="Odeslat přihlášku" />
</form>

{% addtoblock "js" %}
<!--script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script-->
<script type="text/javascript" src="{% static 'bootstrap-multiselect/js/bootstrap-multiselect.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#id_age_group').multiselect();
});
</script>
{% endaddtoblock %}

{% addtoblock "css" %}
<link rel="stylesheet" href="{% static 'bootstrap-multiselect/css/bootstrap-multiselect.css' %}" type="text/css"/>
{% endaddtoblock %}

{% endblock %}
